.boardContainer {
  display: flex;
  flex-direction: row-reverse;
}

.allButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 80px;
  padding-right: 50px;
}

.allButtonsAgain {
  display: inline-block;
  margin: auto;
}

#kingSprite {
  transition: 500ms;
}

.gameBoard {
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);
  margin: auto;
  outline: 1px solid gray;
}

.gameSquare {
  width: 50px;
  height: 50px;
  outline: 1px solid gray;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.gameSquare:hover {
  background-color: lightgrey;
  outline: 1px solid gray;
}


.diceResultBox {
  border:2px solid black;
  padding: 5px;
  width: 80px;
  height: 80px;
  margin:auto;
  margin-top: 15px;
  border-radius: 9px;
  cursor: pointer;
  font-size: 55px;
  text-align: center;
}
.inProgress {
  cursor: not-allowed;
  border:2px solid black;
  padding: 5px;
  width: 80px;
  height: 80px;
  margin:auto;
  margin-top: 15px;
  border-radius: 9px;
  font-size: 55px;
  opacity: 0.5;
  text-align: center;
}



.inProgressh4 {
  opacity:0;
}


.player1text {
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 25px;
}

.player0text {
  color: green;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 25px;
}

.resetButton {
  width: 100px;
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.empty {
  justify-content: center;
  background-color: #ececec;
}

.empty:nth-child(1) {
  background-color: lime;
}

.textInBox {
  text-align: left;
  font-size: 10px;
}

.backgroundStyle {
  height: 600px;
  width: 600px;
  border-style: solid;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px
}

.snakeText {
  font-size: 8px;
  color: green;
  text-align: bottom;
}

.buttons {
  margin:5px;
  padding: 5px;
  font-size: 20px;
}

h4 {
  margin: 5px;
}
