.boardContainer {
  display: flex;
  flex-direction: column;
}
.gameBoard {
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);
  margin: auto;
  outline: 1px solid gray;
}

.gameSquare {
  width: 50px;
  height: 50px;
  outline: 1px solid gray;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.gameSquare:hover {
  background-color: lightgrey;
  outline: 1px solid gray;
}


.diceResultBox {
  border:2px solid black;
  padding: 5px;
  width: 30px;
  height: 30px;
  margin:auto;
  border-radius: 9px;
  cursor: pointer;
  font-size: 25px;
}
.diceResultBox:disabled {
  cursor: not-allowed;
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.empty {
  justify-content: center;
  background-color: #ececec;
}

.textInBox {
  text-align: left;
  font-size: 10px;
}

.backgroundStyle {
  height: 500px;
  width: 500px;
  border-style: solid;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px
}

.snakeText {
  font-size: 8px;
  color: green;
  text-align: bottom;
}

.buttons {
  margin:5px;
  padding: 5px;
}

